body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:220px;
}
#u4338 {
  position:absolute;
  left:6px;
  top:211px;
  width:943px;
  height:220px;
}
#u4339 {
  position:absolute;
  left:2px;
  top:102px;
  width:939px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:205px;
}
#u4340 {
  position:absolute;
  left:6px;
  top:6px;
  width:1023px;
  height:205px;
}
#u4341 {
  position:absolute;
  left:2px;
  top:94px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:130px;
}
#u4342 {
  position:absolute;
  left:6px;
  top:336px;
  width:1090px;
  height:130px;
}
#u4343 {
  position:absolute;
  left:2px;
  top:57px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:110px;
}
#u4344 {
  position:absolute;
  left:22px;
  top:336px;
  width:640px;
  height:110px;
}
#u4345 {
  position:absolute;
  left:2px;
  top:47px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:59px;
}
#u4346 {
  position:absolute;
  left:851px;
  top:495px;
  width:202px;
  height:59px;
}
#u4347 {
  position:absolute;
  left:2px;
  top:22px;
  width:198px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:2px;
}
#u4348 {
  position:absolute;
  left:6px;
  top:476px;
  width:1023px;
  height:1px;
}
#u4349 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1019px;
  visibility:hidden;
  word-wrap:break-word;
}
