body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1131px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:331px;
}
#u4350 {
  position:absolute;
  left:119px;
  top:110px;
  width:734px;
  height:331px;
}
#u4351 {
  position:absolute;
  left:2px;
  top:158px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:535px;
}
#u4352 {
  position:absolute;
  left:119px;
  top:441px;
  width:738px;
  height:535px;
}
#u4353 {
  position:absolute;
  left:2px;
  top:260px;
  width:734px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:200px;
}
#u4354 {
  position:absolute;
  left:857px;
  top:450px;
  width:242px;
  height:200px;
}
#u4355 {
  position:absolute;
  left:2px;
  top:92px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:332px;
}
#u4356 {
  position:absolute;
  left:825px;
  top:110px;
  width:255px;
  height:332px;
}
#u4357 {
  position:absolute;
  left:2px;
  top:158px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:333px;
}
#u4358 {
  position:absolute;
  left:1075px;
  top:112px;
  width:36px;
  height:333px;
}
#u4359 {
  position:absolute;
  left:2px;
  top:158px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:133px;
}
#u4361 {
  position:absolute;
  left:53px;
  top:986px;
  width:1078px;
  height:133px;
}
#u4362 {
  position:absolute;
  left:2px;
  top:58px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:85px;
}
#u4364 {
  position:absolute;
  left:102px;
  top:10px;
  width:1010px;
  height:85px;
}
#u4365 {
  position:absolute;
  left:2px;
  top:34px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:43px;
}
#u4366 {
  position:absolute;
  left:301px;
  top:44px;
  width:212px;
  height:43px;
}
#u4367 {
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4368 {
  position:absolute;
  left:287px;
  top:52px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4369 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
