body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1222px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:299px;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:299px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:142px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:992px;
  height:255px;
}
#u5268 {
  position:absolute;
  left:39px;
  top:309px;
  width:992px;
  height:255px;
}
#u5269 {
  position:absolute;
  left:2px;
  top:120px;
  width:988px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:36px;
}
#u5270 {
  position:absolute;
  left:57px;
  top:325px;
  width:272px;
  height:36px;
}
#u5271 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:16px;
}
#u5272 {
  position:absolute;
  left:89px;
  top:368px;
  width:209px;
  height:16px;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:151px;
}
#u5274 {
  position:absolute;
  left:85px;
  top:400px;
  width:350px;
  height:151px;
}
#u5275 {
  position:absolute;
  left:2px;
  top:68px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u5276 {
  position:absolute;
  left:146px;
  top:578px;
  width:42px;
  height:26px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:5px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5278 {
  position:absolute;
  left:63px;
  top:582px;
  width:20px;
  height:20px;
}
#u5279 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5280 {
  position:absolute;
  left:90px;
  top:581px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:47px;
}
#u5282 {
  position:absolute;
  left:36px;
  top:642px;
  width:131px;
  height:47px;
}
#u5283 {
  position:absolute;
  left:2px;
  top:16px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5284 {
  position:absolute;
  left:167px;
  top:656px;
  width:83px;
  height:20px;
}
#u5285 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:16px;
}
#u5286 {
  position:absolute;
  left:89px;
  top:609px;
  width:205px;
  height:16px;
  color:#999999;
}
#u5287 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u5288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5288 {
  position:absolute;
  left:1038px;
  top:127px;
  width:184px;
  height:172px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:78px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u5290 {
  position:absolute;
  left:1048px;
  top:135px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u5291 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5292 {
  position:absolute;
  left:1048px;
  top:172px;
  width:99px;
  height:48px;
}
#u5293 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5294 {
  position:absolute;
  left:1048px;
  top:256px;
  width:154px;
  height:32px;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
