body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1172px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:264px;
}
#u708 {
  position:absolute;
  left:33px;
  top:0px;
  width:1139px;
  height:264px;
}
#u709 {
  position:absolute;
  left:2px;
  top:124px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u710 {
  position:absolute;
  left:432px;
  top:219px;
  width:70px;
  height:51px;
}
#u711 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:46px;
}
#u712 {
  position:absolute;
  left:502px;
  top:220px;
  width:425px;
  height:46px;
}
#u713 {
  position:absolute;
  left:2px;
  top:15px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:795px;
}
#u714 {
  position:absolute;
  left:83px;
  top:266px;
  width:1076px;
  height:795px;
}
#u715 {
  position:absolute;
  left:2px;
  top:390px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:245px;
}
#u716 {
  position:absolute;
  left:82px;
  top:1022px;
  width:999px;
  height:245px;
}
#u717 {
  position:absolute;
  left:2px;
  top:114px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:35px;
}
#u718 {
  position:absolute;
  left:367px;
  top:1251px;
  width:114px;
  height:35px;
}
#u719 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1008px;
  height:20px;
}
#u720 {
  position:absolute;
  left:83px;
  top:1338px;
  width:1008px;
  height:20px;
}
#u721 {
  position:absolute;
  left:2px;
  top:2px;
  width:1004px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u722 {
  position:absolute;
  left:93px;
  top:1316px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u724 {
  position:absolute;
  left:1008px;
  top:1316px;
  width:48px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u725 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:312px;
}
#u726 {
  position:absolute;
  left:87px;
  top:1358px;
  width:251px;
  height:312px;
}
#u727 {
  position:absolute;
  left:2px;
  top:148px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:312px;
}
#u728 {
  position:absolute;
  left:336px;
  top:1358px;
  width:251px;
  height:312px;
}
#u729 {
  position:absolute;
  left:2px;
  top:148px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:312px;
}
#u730 {
  position:absolute;
  left:587px;
  top:1358px;
  width:251px;
  height:312px;
}
#u731 {
  position:absolute;
  left:2px;
  top:148px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:312px;
}
#u732 {
  position:absolute;
  left:838px;
  top:1358px;
  width:251px;
  height:312px;
}
#u733 {
  position:absolute;
  left:2px;
  top:148px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:30px;
}
#u734 {
  position:absolute;
  left:83px;
  top:1640px;
  width:1014px;
  height:30px;
}
#u735 {
  position:absolute;
  left:2px;
  top:7px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:838px;
}
#u736 {
  position:absolute;
  left:78px;
  top:1657px;
  width:1011px;
  height:838px;
}
#u737 {
  position:absolute;
  left:2px;
  top:411px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
