body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:506px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:900px;
}
#u6889 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:900px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:442px;
  width:502px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:26px;
}
#u6891 {
  position:absolute;
  left:133px;
  top:499px;
  width:279px;
  height:26px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:5px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u6893 {
  position:absolute;
  left:109px;
  top:504px;
  width:309px;
  height:16px;
  color:#FF6600;
}
#u6894 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
