body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1876px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1890px;
  height:69px;
}
#u5623 {
  position:absolute;
  left:-7px;
  top:0px;
  width:1890px;
  height:69px;
}
#u5624 {
  position:absolute;
  left:2px;
  top:26px;
  width:1886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
}
#u5625 {
  position:absolute;
  left:7px;
  top:15px;
  width:183px;
  height:40px;
}
#u5626 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:39px;
}
#u5627 {
  position:absolute;
  left:1028px;
  top:15px;
  width:287px;
  height:39px;
}
#u5628 {
  position:absolute;
  left:2px;
  top:12px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1001px;
}
#u5629 {
  position:absolute;
  left:0px;
  top:69px;
  width:150px;
  height:1001px;
}
#u5630 {
  position:absolute;
  left:2px;
  top:492px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:841px;
}
#u5631 {
  position:absolute;
  left:-2px;
  top:78px;
  width:154px;
  height:841px;
}
#u5632 {
  position:absolute;
  left:2px;
  top:412px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1735px;
  height:67px;
}
#u5633 {
  position:absolute;
  left:148px;
  top:69px;
  width:1735px;
  height:67px;
}
#u5634 {
  position:absolute;
  left:2px;
  top:26px;
  width:1731px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:48px;
}
#u5635 {
  position:absolute;
  left:162px;
  top:78px;
  width:298px;
  height:48px;
}
#u5636 {
  position:absolute;
  left:2px;
  top:16px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:906px;
  height:88px;
}
#u5637 {
  position:absolute;
  left:162px;
  top:154px;
  width:906px;
  height:88px;
}
#u5638 {
  position:absolute;
  left:2px;
  top:36px;
  width:902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:941px;
  height:597px;
}
#u5639 {
  position:absolute;
  left:162px;
  top:278px;
  width:941px;
  height:597px;
}
#u5640 {
  position:absolute;
  left:2px;
  top:290px;
  width:937px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:979px;
  height:739px;
}
#u5641 {
  position:absolute;
  left:148px;
  top:887px;
  width:979px;
  height:739px;
}
#u5642 {
  position:absolute;
  left:2px;
  top:362px;
  width:975px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:26px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5643 {
  position:absolute;
  left:281px;
  top:624px;
  width:812px;
  height:26px;
}
#u5644 {
  position:absolute;
  left:2px;
  top:5px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:26px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5645 {
  position:absolute;
  left:281px;
  top:672px;
  width:812px;
  height:26px;
}
#u5646 {
  position:absolute;
  left:2px;
  top:5px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:26px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5647 {
  position:absolute;
  left:295px;
  top:1029px;
  width:812px;
  height:26px;
}
#u5648 {
  position:absolute;
  left:2px;
  top:5px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:812px;
  height:26px;
  background:inherit;
  background-color:rgba(67, 67, 67, 0.709803921568627);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5649 {
  position:absolute;
  left:295px;
  top:1077px;
  width:812px;
  height:26px;
}
#u5650 {
  position:absolute;
  left:2px;
  top:5px;
  width:808px;
  visibility:hidden;
  word-wrap:break-word;
}
