body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:575px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:575px;
}
#u6876 {
  position:absolute;
  left:2px;
  top:280px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u6877 {
  position:absolute;
  left:245px;
  top:450px;
  width:477px;
  height:16px;
  color:#FF6600;
}
#u6878 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
