body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:39px;
}
#u3950 {
  position:absolute;
  left:930px;
  top:22px;
  width:485px;
  height:39px;
}
#u3951 {
  position:absolute;
  left:2px;
  top:12px;
  width:481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:264px;
}
#u3953 {
  position:absolute;
  left:12px;
  top:0px;
  width:1139px;
  height:264px;
}
#u3954 {
  position:absolute;
  left:2px;
  top:124px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u3955 {
  position:absolute;
  left:411px;
  top:219px;
  width:70px;
  height:51px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:46px;
}
#u3957 {
  position:absolute;
  left:481px;
  top:220px;
  width:425px;
  height:46px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:15px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:533px;
}
#u3959 {
  position:absolute;
  left:61px;
  top:273px;
  width:187px;
  height:533px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:258px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u3961 {
  position:absolute;
  left:258px;
  top:280px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u3963 {
  position:absolute;
  left:597px;
  top:658px;
  width:35px;
  height:16px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:125px;
}
#u3965 {
  position:absolute;
  left:258px;
  top:319px;
  width:805px;
  height:125px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:54px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:805px;
  height:177px;
}
#u3967 {
  position:absolute;
  left:258px;
  top:471px;
  width:805px;
  height:177px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:80px;
  width:801px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:12px;
}
#u3969 {
  position:absolute;
  left:447px;
  top:604px;
  width:544px;
  height:12px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
