body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1186px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:646px;
}
#u4070 {
  position:absolute;
  left:95px;
  top:265px;
  width:1011px;
  height:646px;
}
#u4071 {
  position:absolute;
  left:2px;
  top:315px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1139px;
  height:264px;
}
#u4073 {
  position:absolute;
  left:47px;
  top:0px;
  width:1139px;
  height:264px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:124px;
  width:1135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u4075 {
  position:absolute;
  left:446px;
  top:219px;
  width:70px;
  height:51px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:46px;
}
#u4077 {
  position:absolute;
  left:516px;
  top:220px;
  width:425px;
  height:46px;
}
#u4078 {
  position:absolute;
  left:2px;
  top:15px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
}
#u4079 {
  position:absolute;
  left:836px;
  top:343px;
  width:94px;
  height:24px;
}
#u4080 {
  position:absolute;
  left:2px;
  top:4px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4081 {
  position:absolute;
  left:839px;
  top:345px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:471px;
}
#u4083 {
  position:absolute;
  left:839px;
  top:377px;
  width:245px;
  height:471px;
}
#u4084 {
  position:absolute;
  left:2px;
  top:228px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:384px;
}
#u4085 {
  position:absolute;
  left:836px;
  top:375px;
  width:227px;
  height:384px;
}
#u4086 {
  position:absolute;
  left:2px;
  top:184px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:86px;
}
#u4087 {
  position:absolute;
  left:836px;
  top:763px;
  width:238px;
  height:86px;
}
#u4088 {
  position:absolute;
  left:2px;
  top:35px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:468px;
}
#u4089 {
  position:absolute;
  left:96px;
  top:912px;
  width:1016px;
  height:468px;
}
#u4090 {
  position:absolute;
  left:2px;
  top:226px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
